In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np

In [ ]:
data = pd.read_csv("insurance.csv")
data.head(10)

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data.describe()
#We see that the age is between 18 and 64 with a mean of 39 and a standard deviation of 14
#Bmi is between 15.96 and 53.13 and a mean of 30.66 with a standard deviation of 6.09
#The number of Children are between 0 and 5 with a mean of 1.09
# The charges are between 1121.87 and 63770.42 with a mean of 13270.42

In [ ]:
data.sort_values("charges", ascending=False).head()

In [ ]:
sns.distplot(data.age)
#The data is not normally distributed as there are too many people in the age of 20

In [ ]:
sns.distplot(data.bmi)
#BMI looks normally distributed

In [ ]:
sns.distplot(data.children)
#A lot of people have no children
data.children.value_counts()

In [ ]:
sns.distplot(data.charges)

In [ ]:
data.groupby('sex').charges.mean()

In [ ]:
cleanup_nums = {'sex':{'male':0,'female':1},
                 'smoker':{'no':0,'yes':1},
                'region':{'southeast':0,'southwest':1,'northwest':2,'northeast':3}}

In [ ]:
data = data.replace(cleanup_nums)

In [ ]:
#plot charge by age
data['age_cat'] = np.nan
lst = [data]

for col in lst:
    col.loc[(col['age'] >= 18) & (col['age'] <= 25), 'age_cat'] = 'Early Twenty'
    col.loc[(col['age'] > 25) & (col['age'] <= 35), 'age_cat'] = 'Late Twenty'
    col.loc[(col['age'] > 35) & (col['age'] <= 55), 'age_cat'] = 'Senior Adult'
    col.loc[col['age'] > 55, 'age_cat'] = 'Elder'

In [ ]:
data.head(10)